.App {
  text-align: center;
  background: #09d3ac;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Scoreboard
{
  background: lightseagreen;
}

.Gameboard
{
  background: purple;
}
/*Will be renamed as prize*/
.Door
{
  /*display: inline-block;*/
  width:100%;
  background: brown;
  position:absolute;
  z-index: 1;
}
.doorGrid
{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-column-gap: 20px;
}


.curtain
{

  height:100%;
  width:50%;
  background: yellow;
  position:relative;
  z-index: 2;
  transition: all 5s ease-out;

}

.curtain-float
{
  /*transform:translateY(100%);*/
  float: left;
}

.curtain-raise
{

  transform:translateY(-50%);

}

.curtainContainer
{
  position: relative;
  width: 100%;
  overflow: hidden;
}